/*****************************************************************
Home
*****************************************************************/

.home {
  background-color: #83e991;
}

.home img {
  max-width: 100%;
  animation: fadeInLeft 1s;
}

.wrapper {
  max-width: 450px;
  margin: 150px auto;
  animation: fadeInRight 1s;
}

/*****************************************************************
Search Input
*****************************************************************/

.search-input {
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
  overflow-y: auto;
}

.search-input input {
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 0 20px 0 20px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-input.active input {
  border-radius: 5px 5px 0 0;
}

/*****************************************************************
Autocomplete Box
*****************************************************************/

.search-input .autocom-box {
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.search-input.active .autocom-box {
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.autocom-box .search-item {
  list-style: none;
  padding: 8px 12px;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.search-input.active .autocom-box .search-item {
  display: block;
}

.autocom-box .search-item:hover {
  background: #efefef;
}

.search-item p {
  margin: 0;
}

.search-item .name {
  font-weight: bold;
}

.search-item .name span {
  font-weight: normal;
}

.search-item .club {
  color: grey;
  font-size: 0.7rem;
  padding-top: 4px;
}

.search-item .icon {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
}
