@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Raleway:wght@100;300;400;700&display=swap");

html,
body,
#root,
#root > div {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}
