/*****************************************************************
Header
*****************************************************************/

.header {
  color: #797979;
  position: relative;
  margin: 3rem 0;
}

.header p {
  display: inline;
  padding: 10px;
  border-radius: 5px;
}

.header p:hover {
  background-color: #f5f5f5;
}

.player-name {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 5%;
  animation: fadeIn 2s;
}

.header h1 {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 3.5rem;
  margin: 0;
}

.player-name img {
  display: inline-block;
  max-height: 3.5rem;
  margin: auto 0 auto 2%;
}

@media only screen and (min-width: 992px) {
  .player-name {
    padding-top: 0;
    padding-bottom: 0;
  }
}

/*****************************************************************
Chart
*****************************************************************/

.chart {
  margin-bottom: 10%;
}

@media only screen and (min-width: 992px) {
  .chart {
    border-right: 1px solid rgba(251, 102, 163, 1);
    padding-right: 10%;
    padding-left: 0;
  }
}

/*****************************************************************
Player Info
*****************************************************************/

.player-info {
  color: gray;
  font-family: "Raleway", sans-serif;
  animation: fadeIn 2s;
  margin-bottom: 10%;
}

.player-info p {
  display: inline;
  padding: 16px 32px;
  background-color: #197e52;
  border-radius: 16px;
  color: white;
  margin: 10px 30px 10px 0;
}

.player-info p span {
  font-weight: bold;
}

.player-info li {
  list-style: none;
  padding: 10px 0;
}

.player-info li span {
  font-weight: bold;
  margin-left: 8px;
}

.player-details {
  margin-top: 10%;
}

@media only screen and (min-width: 992px) {
  .player-info {
    padding-left: 10%;
    padding-right: 0;
  }
}
