/*****************************************************************
Header
*****************************************************************/

.header {
  padding: 5% 0;
  color: #797979;
  position: relative;
}

.header h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: 3.5rem;
}

/*****************************************************************
Chart
*****************************************************************/

.chart {
  padding-right: 10%;
}

/* .border-right {
  border-top: 1px solid rgba(251, 102, 163, 1);
} */

@media only screen and (min-width: 992px) {
  .border-right {
    border-top: none;
    border-right: 1px solid rgba(251, 102, 163, 1);
  }
}

/*****************************************************************
Player Info
*****************************************************************/

.player-info {
  padding-left: 10%;
  color: gray;
  font-family: "Raleway", sans-serif;

  animation: fadeIn 2s;
}

.player-info p {
  display: inline;
  padding: 16px 32px;
  background-color: #197e52;
  border-radius: 16px;
  color: white;
  margin: 10px 30px 10px 0;
}

.player-info p span {
  font-weight: bold;
}

.player-info li {
  list-style: none;
  padding: 10px 0;
}

.player-info li span {
  font-weight: bold;
  margin-left: 8px;
}

.player-details {
  margin-top: 10%;
}
